<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>LeafWalk</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non est a dui vestibulum facilisis.
          Quisque non dui at dui laoreet feugiat eget eget risus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
          Vivamus feugiat ipsum nec leo suscipit molestie. Duis vel pulvinar diam. In varius mattis nulla, id cursus enim bibendum ac.
          Cras ornare aliquam urna, quis ornare purus eleifend sed. Mauris non nisl laoreet mauris feugiat eleifend sit amet vitae libero.
          Ut ultrices diam a est lacinia porta. Mauris eleifend risus dolor, at pharetra leo aliquam eget. Donec ullamcorper est vel leo rhoncus pretium.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a href="#" class="btm-btn btn">BACK</a>
      </div>
    </div>
  </div>
</div>
