<div id="directions">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>LeafWalk</h1>
        <h2>Directions to: Burgess Park</h2>
        <span>9 mins walk</span>
      </div>
    </div>
    <div class="row">
      <ul>
        <li>Turn left</li>
        <li>Walk for 5 mins</li>
        <li>Cross the road</li>
        <li>Turn right</li>
        <li>Walk for 2 mins</li>
        <li>Cross the road</li>
      </ul>
    </div>
    <div class="row">
      <div id="menu-bar" class="col-xs-12">
        <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
