<div>
  <div id="wrapper" class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>LeafWalk</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <form>
          <div class="form-group">
            <label for="username" class="sr-only">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="password" class="sr-only">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>
          <div class="row">
            <div class="col-xs-12 col-centered">
              <a href="#">Forgotten password?</a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-centered">
              <a href="#">Register</a>
            </div>
          </div>
          <button type="submit" class="btn btn-default btm-btn">SUBMIT</button>
        </form>
      </div>
    </div>
  </div>
</div>
